/* Hiệu ứng mờ ảo thay thế mang tính tối ưu hiệu năng thay cho jQuery */
.animate-fade-in {
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
